@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

html {
    --background-color: #FFF; 
    --text-color: #000; 
    --button-bg-color: #000; 
    --button-text-color: #FFF; 
    --icon-color: #000; 
}

body {
    background-color: var(--background-color);
}

.dark-mode {
    --background-color: #000; 
    --text-color: #FFF; 
    --button-bg-color: #FFF; 
    --button-text-color: #000; 
    --icon-color: #FFF;
}

.main-home-container-box {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: calc(100vh - 60px);
    margin: 0 auto;
    width: 100%;
}

.second-home-container-box {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    max-width: 50vw;  
    margin: 0 auto;
    padding: 20px; 
    border-radius: 8px;
    width: 100%; 
    box-sizing: border-box; 
}

.icon-container {
    flex: 0 0 auto; 
    margin-right: 20px; 
    width: auto; 
    max-width: 30%; 
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden; /* Prevent icon from overflowing */
}

.icon-container svg { /* Assuming MyIcon is an SVG or similar element */
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensure icon scales without distortion */
}

.vertical-line {
    width: 2px; 
    background-color: #6e6e6e; 
    height: 50vh; 
    margin-right: 20px; 
}

.third-home-container-box {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    color: var(--text-color);
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
}

.main-home-container-box button {
    color: black;
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px; 
    margin-top: 10px; 
    padding: 10px 90px; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

.first-home-btn,
.second-home-btn { 
    padding: 10px 90px; 
    font-size: 30px; 
    font-family: "Agdasima", sans-serif; 
    font-weight: 400; 
    border: none; 
    transition: background-color 0.3s; 
    margin: 0 5px; 
}

.second-home-btn {
    background-color: #FFDE60; 
    color: var(--button-text-color); 
}

.first-home-btn {
    background-color: #6e6e6e; 
    color: var(--button-text-color); 
}

.first-home-btn:hover {
    background-color: #ffffff; 
    color: white; 
}

.main-home-container-box button:hover {
    background-color: #0e0e0e; 
    color: white;
}

.dark-mode .first-home-btn{
    background-color: var(--text-color);
}

@media (max-width: 800px) {
    .second-home-container-box {
        flex-direction: column; 
        align-items: center; 
        max-width: 90vw; 
    }

    .vertical-line {
        height: 2px;
        width: 80%; 
        margin-right: 0;
        margin-bottom: 20px; 
    }

    .third-home-container-box {
        margin: 0 auto;
        width: 100%; 
        text-align: center; 
    }

    .home-buttons {
        width: 100%; 
        flex-direction: column; 
        margin-top: 20px;
    }

    .first-home-btn,
    .second-home-btn {
        padding: 10px 50px; 
        font-size: 24px; 
    }
}

@media (max-width: 545px) {
    .home-buttons {
        flex-direction: column;
    }
}
