.main-success-operation-page {
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    margin: 0;
    width: 100%;
    flex-direction: column;
    padding-top: 10vh; 
    overflow: hidden;
    text-align: center;
}

.anime-background {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0; 
}

.content-box {
    position: relative; 
    z-index: 1; 
    max-width: 90%;
    padding: 20px; 
}

.success-message {
    font-size: 8vw;
    margin-bottom: 20px; 
}

.back-to-orders-btn {
    margin: 0 auto;
    color: black;
    background-color: white;
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-size: 4vw;
    padding: 15px 30px; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-to-orders-btn:hover {
    background-color: #0e0e0e;
    color: white;
}


@media (max-width: 600px) {
    .success-message {
        font-size: 10vw; 
    }

    .back-to-orders-btn {
        font-size: 5vw; 
        padding: 10px 20px; 
    }

    .main-success-operation-page {
        padding-top: 15vh; 
    }
}
